.container{
    position: relative;
    display: flex;
    background-color: aquamarine;
    width:100%;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

.topcloud{
    position: relative;
    display: flex;
    padding-top:61px ;
    flex-direction: row-reverse;
}

.nametext{
    padding-top: 5%;
    font-size: 60px;
    color: rgb(20, 141, 118);
    text-align: center;
    justify-content: center;
}

.skilltext{
    font-size: 50px;
    color: rgb(21, 140, 118);
    text-align: center;
    justify-content: center;
}

.underline{
    text-decoration: underline;
}

.bottomcloud{
    position: relative;
    display: flex;
    padding-top:5% ;
    flex-direction: row;
}

.mountain{
    position: relative;
    display: flex;
    height: max-content;
    justify-content: center;
}
